# Files created by vscode that are unrequired
.vscode

# Exclude produced files
*.a
*.o
*.log

# Exclude any output directories
build*
bin*
CMakeFiles*

# Exclude files create by cmake
*.cmake
Makefile
CMakeCache.txt

# Exlude GTest Files
*.pc
googletest-build*
googletest-download*
googletest-src*
containers/libcontainers/include/doubly_linked_list_iterator
